<ion-view  id="tour-view" style="background-color: #8eafce" hide-nav-bar="true">

        <ion-slide-box>
            <ion-slide>
               <img src="./images/guide01.png" style="width: 100%;height: 100%">
            </ion-slide>
            <ion-slide>
                <img src="./images/guide02.png" style="width: 100%;height: 100%">
            </ion-slide>
            <ion-slide >
                <img src="./images/guide03.png"  style="width: 100%;height: 100%">
                <img src="./images/guide05.png" style="position: absolute;top:80%;right:0;bottom: 0;left:0;margin: auto" ui-sref="home">
            </ion-slide>
        </ion-slide-box>
</ion-view>