<ion-view  >
    <ion-nav-title>
        <div class="bar bar-header ">
            <p class="title">确认订单</p>
        </div>
    </ion-nav-title>
    <ion-content>
        <div class="list card">
            <label class="item item-input item-stacked-label">
                <span class="input-label active">收货人姓名</span>
                <input type="text" placeholder="收货人姓名">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label active">收货人地址</span>
                <input type="text" placeholder="xx省xx市xx县xx街道xx地址">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label active">联系电话(重要)</span>
                <input type="text" placeholder="Email">
            </label>
        </div>
        <div class="button-bar">
            <a class="button" style="background: #2c4a89 ;color: #fff">确认付款</a>
        </div>
    </ion-content>
</ion-view>