
/*reset*/
body,h1,h2,h3,h4,h5,h6,p,ul,li,dt,dd,dl,input{margin:0;padding:0;}
ul{list-style:none;}
a{text-decoration:none;color: #fff;}
input,img{border:none;}
i{font-style:normal;}
.clearfix:after{content:"200B";height:0;font-size:0;display:block;clear:both;}
html,body{height: 100%;width:100%}
/*侧边栏*/
.menuContent ul{margin-top: 3.3rem}
.menuContent li{margin-left: .32rem;height: .76rem;}
.menuContent a{font-size: .32rem;text-align: left;display: block;color: #fff;}
/*弹出框*/
.contactBox{width:5.4rem;height:2.1rem;background: #fff;font-size: .36rem;color: #0096ff;border-radius: .3rem; text-align: center;position: absolute;z-index:2; display:none;}
.contactBox .telephone{height: 1.3rem;line-height: 1.3rem;border-bottom: 1px solid #ccc}
.contactBox .btn{width:2.69rem;float: left;height: .79rem;line-height: .81rem;}
.contactBox .cancel{border-right: 1px solid #ccc;}
.modal{ width:100%; height:100%; position:fixed; left:0; top:0; background:#000; opacity:.3; display:none}
/*首页导航*/
.index{height: 100%;}
.index .content{width:100%;height:100%;background-image:url("../images/bgPic.png");background-size: cover;}
.content .nav{width:3.1rem;background: rgba(20,12,5,.5);height: 100%}
.content .nav .logo{width:1.62rem;height: 1.42rem;padding: 0.48rem 0 0 0.74rem;}
.content .nav .logo img{width:100%;height: 100%;}
.content .nav .navBar{margin-left: .68rem}
.content .nav .navBar li a{font-size: 0.32rem;color: #fff;font-weight: bolder;display: block;padding:0.37rem 0.25rem;position: relative;}
.content .nav .navBar li a:after{content:"";width:1.68rem;height: 0.02rem;  background: linear-gradient(to right,#554d42, #fbfafa,#554d42);position: absolute;bottom:0;left:0;}
.content .nav .navBar li .active{color:#c98010;}

/*北苑健身*/
 html{position: relative;height: 100%}
.bodyBuilding {background: #190d07;color: #fff;}
.menu {min-width: 1rem;width: 70%;max-width:2.9rem;background: #2e1a10;color: #fff;z-index: 999; position: relative;padding-top: 180%}
.noPadding{padding-top: 0;}
.other{padding-top: 147%}
.bodyBuilding .content {width: 100%;}
.menu-button {position: absolute;top: 0; right: 0;margin: .25rem .45rem 0 0;cursor: pointer;}
.bar { width: .4rem; height: 0.07rem;margin-bottom: 0.08rem; background-color: #6d3f28;}
.bar:nth-of-type(3){margin-bottom:0 ;}
.commonHeader{height: .88rem;width:100%;padding:0 0.3rem;line-height: .88rem;background: #190d07;color: #fff;}
.commonHeader .cBack a{line-height: .88rem;}
.commonHeader .cBack a img{width:.2rem;height: .37rem;float: left;margin-top: .25rem}
.commonHeader .cTitle {float: left;margin-left: 2.64rem;font-size: .32rem;}

.bodyBuilding .swiper-container-v{width:7.5rem;height: 5.52rem;}
.bodyBuilding .swiper-container-v a{display: block;}
.bodyBuilding .swiper-container-v img{width:7.5rem;height: 5.52rem;}
.bodyBuilding .swiper-pagination{top:5.98rem;}
.bodyBuilding .swiper-pagination span{width:.16rem;height: .16rem;border-radius: 50%;}
.bodyBuilding .swiper-slide {font-size: .32rem;text-align: center;}
.bodyBuilding .swiper-slide .information{margin-top: .5rem;}
.bodyBuilding .swiper-slide .information{margin-top: .5rem;position: relative;z-index: 999;}
.bodyBuilding .swiper-slide .information .subTitle{font-weight: bolder;}
.bodyBuilding .swiper-slide .information p{line-height: .36rem;height: .56rem;}
.bodyBuilding .swiper-slide .information p:nth-of-type(1){margin-top: .3rem}
.bodyBuilding .swiper-slide .information .reserve{width:2.48rem;height: .62rem;border: 1px solid #fff;margin:.9rem 0 0 2.51rem;}
.bodyBuilding .swiper-slide .information .reserve a{display: block;text-align: center;line-height: .62rem;font-size: .26rem;letter-spacing: .1rem;}
.entertainment .items .item{width:7.5rem;height:3.1rem;position: relative;margin-bottom: .1rem;}
.entertainment .items .item a{display: block}
.entertainment .items .item img{width:7.5rem;height: 3.1rem}
.entertainment .items .item .item_ifo{position: absolute;top:.2rem;left:0.3rem;font-size: .26rem;font-weight: bolder}
.entertainment .items .item:nth-of-type(1) .item_ifo{position: absolute;top:.7rem;left:.7rem;font-size: .24rem;font-weight: 100}
.entertainment .items .item:nth-of-type(1) .item_ifo p{height: .35rem;line-height: .35rem;}

/*商务办公*/
/*.office .content:after{content:"";width:100%;height: 100%;position: absolute;background: rgba(0,0,0,.6);z-index:1}
.office .officeContent{position: absolute;z-index:2;}
.office .officeContent ul{margin: .71rem .54rem 0;transform-style: preserve-3d;perspective: 9999999px;}
.office .officeContent li{width:6.42rem;height: 5.08rem;border-radius: .2rem .2rem 0 0;position: relative;
    transform-style: preserve-3d;perspective: 1000px;
}
.office .officeContent li .warp{width:100%;height: 100%;transform: rotateX(-130deg);transform-origin: bottom}
.office .officeContent li .side{width:100%;height: 100%;background: #fff;position: absolute;top:0;left:0;overflow: hidden;
    transform-origin: bottom;backface-visibility: hidden}
.office .officeContent li .sideFront{z-index:2;transform: rotateX(-0deg)}
.office .officeContent li .sideBehind{z-index:1;}
.office .officeContent img{width:6.42rem;height: 5.08rem;}*/

/*客房列表*/
.roomList{background: #190d07}
.roomList .item{width:7.5rem;height: 3.1rem;overflow: hidden;position: relative;margin-bottom: .1rem}
.roomList .item .itemPic{width: 100%;height: 100%;}
.roomList .item .itemPic a{display: block;width:100%;height: 100%;}
.roomList .item img{width:100%;height: 100%;}
.roomList .item .itemDesc{position: absolute;top:0;left: 0;}
.roomList .item .itemDesc .desc{font-size: .3rem;color: #fff;text-align: center;font-weight: bolder;line-height: .5rem;margin: .48rem 0 0 .8rem;width:5.8rem}
.roomList .item .itemDesc .name{font-size: .3rem;color: #fff;font-weight: bolder;padding: .2rem 0 0 .3rem;}

/*标准双人间*/
.doubleRoom .information {text-align: center;font-size: .24rem;margin-top: .5rem;position: relative;z-index: 999;}
.doubleRoom .information .subTitle{font-size: .32rem;}
.doubleRoom .information .doubleRoomDesc{font-size: .24rem;margin: .3rem .48rem 0;}
.doubleRoom .information ul{margin-top: .3rem;}
.doubleRoom .information ul li{margin-bottom: .1rem;}
.doubleRoom .information ul span{position: relative;}
.doubleRoom .information ul span:before{content:"";width:.1rem;height: .1rem;background: #fff;border-radius: 50%;position: absolute;top:50%;margin-top: -.05rem;left:-.15rem;}
.doubleRoom .information .reserve{width: 2.45rem;height: .58rem;border: 1px solid #fff;margin: .65rem auto 0}
.doubleRoom .information .reserve a{display: block;line-height: .58rem;font-size: .26rem}

/*婚庆婚宴*/
.wedding {background: url("../images/weddingBgPic_03.png") no-repeat;background-size: cover;}
.wedding img{width:4.52rem;height:6.76rem; }
.wedding .swiper-container-w .swiper-slide{margin:1rem .3rem 0; }
.wedding .weddingDesc{font-size: .24rem;color: #fff;text-align: center;margin-top: .59rem;line-height: .35rem;}
.wedding .item { border-radius: .2rem;background-image: url("../images/weddingPic01.png");background-color: #fff;background-size: cover;width: 4.52rem;height: 6.76rem;}
