<ion-view  style="background: #abdde8">
    <ion-nav-title>
        <div class="bar bar-header ">
            <p class="title zhuyanse">食谱-法式煎牛排</p>
        </div>
    </ion-nav-title>
    <ion-content>
        <div class="list card"  >
            <div class="item">
                <img src="./images/menu01.png" style="width: 100%">
                <h3 class="zhuyanse fangsong">视频版法式煎牛排</h3>
                <p style="white-space: normal">饭合精心遴选的厚达4厘米的顶级牛肉，配以富含多种矿物质的玫瑰盐使得牛排迸发出独特的咸鲜口感，新鲜双色煎角瓜带来的视觉冲击，再加上我们独家深度挖掘到的灵魂牛排酱汁。</p>
            </div>
            <div class="item">
                <p >制作时间：30分钟-1小时</p>
                <p >难度：中级</p>
            </div>
        </div>
        <!--c材料-->
        <div class="list card">
            <div class="item"><i class="icon ion-ios-albums-outline zhuyanse" style="font-size: 26px"></i> 材料</div>
            <div class="item" >
                <div class="row rowBg" >
                    <div class="col"><span class="zhuyanse">上等牛里脊</span></div>
                    <div class="col">500g</div>
                </div>
                <div class="row" >
                    <div class="col"><span class="zhuyanse">双色角瓜</span></div>
                    <div class="col">500g</div>
                </div>
                <div class="row rowBg" >
                    <div class="col"><span class="zhuyanse">橄榄油</span></div>
                    <div class="col">适量</div>
                </div>
                <div class="row" >
                    <div class="col"><span class="zhuyanse">玫瑰盐</span></div>
                    <div class="col">5g</div>
                </div>
                <div class="row rowBg" >
                    <div class="col"><span class="zhuyanse">黑胡椒末</span></div>
                    <div class="col">适量</div>
                </div>
                <div class="row" >
                    <div class="col"><span class="zhuyanse">黑椒汁</span></div>
                    <div class="col">适量</div>
                </div>

            </div>
        </div>
        <!--步骤-->
        <div class="item card">
            <div class="item"><i class="icon ion-android-notifications zhuyanse" style="font-size: 26px"></i> 步骤</div>
            <div class="item item-thumbnail-left">
                <img src="./images/recipe01.png">
                <p>1.黄、绿角瓜切片备用。</p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="./images/recipe02.png">
                <p style="white-space: normal">2.平底锅加热，滴入少许植物油。牛里脊双面撒上玫瑰盐，放平底锅内煎至两面焦黄，同时放上小块黄油融化并渗入牛肉。</p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="./images/recipe03.png">
                <p style="white-space: normal">3.取出牛肉，并开火煎制双色角瓜。</p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="./images/recipe04.png">
                <p style="white-space: normal">4.同时牛肉放入烤箱，220度烤制8分钟取出。</p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="./images/recipe05.png">
                <p style="white-space: normal">4.同时牛肉放入烤箱，220度烤制8分钟取出。</p>
            </div>
            <div class="item item-thumbnail-left">
                <img src="./images/recipe06.png">
                <p style="white-space: normal">6.盘边浇以密制黑椒汁即可。</p>
            </div>
        </div>
    </ion-content>
</ion-view>