<ion-tabs class="tabs-icon-top">
    <ion-tab title="首页" ui-sref="home"
             icon-on="ion-ios-home" icon-off="ion-ios-home-outline"  class="active">
        <!--改为命名的navView-->
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="动态" ui-sref="tabs.trends"
             icon-on="ion-ios-people" icon-off="ion-ios-people-outline"  class="active">
        <ion-nav-view name="tab-trends"></ion-nav-view>
    </ion-tab>
    <ion-tab title="附近" ui-sref="tabs.nearby"
             icon-on="ion-ios-location" icon-off="ion-ios-location-outline"  class="active">
        <ion-nav-view name="tab-nearby"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物车"
             ui-sref="tabs.cart"  icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline"  class="active">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>
</ion-tabs>
