<!DOCTYPE html>
<html    lang="en">
<head>
    <meta charset="UTF-8">
    <title>康体娱乐</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
    <link href="../../css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/BeiYuanDaJiuDian.css" rel="stylesheet" type="text/css">
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <script src="../../js/lib/swiper.js"></script>
    <script src="../../js/lib/jquery-3.1.0.js"></script>
    <script src="../../js/myapp.js"></script>
    <script src="detail.js"></script>

</head>
<body class="bodyBuilding doubleRoom" style="margin-bottom: .2rem;">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <!--主内容区域-->
            <div class="swiper-slide content" id="content">
                <div class="commonHeader">
                    <div class="cBack">
                        <a href="roomList.html"><img src="../../images/colorArrow.png"></a>
                    </div>
                    <div class="cTitle">客房预订</div>
                    <div class="menu-button">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <!--swiper-container 作为一个图片切换的容器-->
                    <div class=" swiper-container-v" >
                        <div class="swiper-wrapper" id="mainContent">
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-v"></div>
                    </div>
                    <div class="information">
                        <div class="subTitle"  id="subTitle"></div>
                        <div class="doubleRoomDesc">客房设施齐全、舒适房间色调柔和，充满东方古典韵味
                            设有步入式衣帽间，休息区与工作区<br>
                            提供全方位的至尊享受。
                        </div>
                        <ul>
                            <li><span>液晶屏幕电视</span></li>
                            <li><span>宽带网线接入  高速无线上网</span></li>
                            <li><span>迷你酒吧</span></li>
                            <li><span>全套豪华卫浴用品</span></li>
                            <li><span>宽敞豪华的大理石浴室</span></li>
                            <li><span>步入式衣帽间</span></li>
                        </ul>
                        <div class="reserve" >
                            <a id="reserve" href="room-inner.html">立即预定</a>
                        </div>
                    </div>
                </div>
            <!--侧边栏-->
            <div class="swiper-slide menu" style="position: relative">
                <div class="menuContent" style="position: absolute;top:0;left: 0;">
                    <ul>
                        <li><a href="../../index.html">首页</a></li>
                        <li><a href="../entertainment/entertainment.html">康体娱乐</a></li>
                        <li><a href="../exhibition/exhibition.html">会议展厅</a></li>
                        <li><a href="../wedding/wedding.html">婚宴婚庆</a></li>
                        <li><a href="../reservation/roomList.html">舒适客房</a></li>
                        <li><a href="../delicious/delicious.html">餐饮美食</a></li>
                        <li><a href="../office/office.html">商务办公</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal"></div>
    <div class="contactBox" id="contactBox" >
        <div class="telephone" id="title">010-8483226</div>
        <div class="btn cancel" id="cancel">取消</div>
        <div class="btn sure">通话</div>
    </div>
</body>
</html>