<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>北苑大酒店</title>
    <link href="../../css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <link href="../../css/huiyStyle.css" rel="stylesheet" type="text/css">
    <link href="../../css/office.css" rel="stylesheet" type="text/css">
    <script src="../../js/lib/jquery-3.1.0.js"></script>
    <script src="../../js/lib/swiper.js"></script>
    <script src="huiyiT.js"></script>
    <script src="biaopan.js"></script>
</head>
<body>
<div class="obb swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide content">
            <div class="content">
                <div class="commonHeader">
                    <div class="cBack">
                        <a href="office.html"><img src="../../images/colorArrow.png"></a>
                    </div>
                    <div class="cTitle">商务办公</div>
                    <div class="menu-button">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <div id="bg">
                    <div class="box">
                        <div class="swiper-container">
                            <div class="swiper-wrapper" id="titongCh"></div>
                        </div>
                        <div class="poSlut swiper-button-next" style="background-image: url('../../images/003.png')"></div>
                        <div class="poSlut swiper-button-prev" style="background-image: url('../../images/002.png')"></div>
                    </div>
                    <ul id="rotate_C" class="rotate_c"></ul>
                    <!--点击切换-->
                    <div class="box_yi">

                    </div>
                </div>

            </div>
        </div>
        <div class="swiper-slide menu">
            <div class="menuContent" style="position: absolute;top:0;left: 0;">
                <ul>
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="../entertainment/entertainment.html">康体娱乐</a></li>
                    <li><a href="../exhibition/exhibition.html">会议展厅</a></li>
                    <li><a href="../wedding/wedding.html">婚宴婚庆</a></li>
                    <li><a href="../reservation/roomList.html">舒适客房</a></li>
                    <li><a href="../delicious/delicious.html">餐饮美食</a></li>
                    <li><a href="../office/office.html">商务办公</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>