<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>商务办公</title>
    <link href="../../css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/office.css" rel="stylesheet" type="text/css">
    <link href="../../css/huiyStyle.css" rel="stylesheet" type="text/css">
    <script src="../../js/lib/jquery-3.1.0.js"></script>
    <script src="../../js/lib/swiper.js"></script>
    <script src="huiyiT.js"></script>
    <script src="huiyitingjies.js"></script>

</head>
<body>
<div class="obb swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide content">
            <div class="commonHeader">
                <div class="cBack">
                    <a href="../../index.html"><img src="../../images/colorArrow.png"></a>
                </div>
                <div class="cTitle">商务办公</div>
                <div class="menu-button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <div class="content">
                <div class="Business  swiper-container" >
                    <div class="swiper-wrapper" id="slid_tex">
                        <!--这里会利用阿贾克斯的方法将请求到的数据放在这里-->
                    </div>
                </div>
            </div>
        </div>
        <!--侧边栏-->
        <div class="swiper-slide menu" style="position: relative">
            <div class="menuContent" style="position: absolute;top:0;left: 0;">
                <ul>
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="../entertainment/entertainment.html">康体娱乐</a></li>
                    <li><a href="../exhibition/exhibition.html">会议展厅</a></li>
                    <li><a href="../wedding/wedding.html">婚宴婚庆</a></li>
                    <li><a href="../reservation/roomList.html">舒适客房</a></li>
                    <li><a href="../delicious/delicious.html">餐饮美食</a></li>
                    <li><a href="../office/office.html">商务办公</a></li>

                </ul>
            </div>
        </div>
</div>
</body>
</html>