<ion-view style="background-color: #8eafce">
    <ion-nav-title >
        <div class="bar bar-header " >
            <p class="title zhuyanse">活动主题</p>
        </div>
    </ion-nav-title>
    <ion-content>
       <div class="list card">
           <div class="item item-image">
               <img src="./images/activities01.png">
           </div>
           <div class="item" style="border-bottom: 3px double #8eafce">
               <p style="text-align: center;white-space: normal;color:blue">我们总会想起曾经吃到过的美味，如此的念滋在滋.</p>
               <p style="text-align: center;white-space: normal;color:blue">总有许多故事与美食相关，总有许多滋味有食物相伴，也总有许多小时候吃的食物已不知去哪里寻觅。.</p>
               <p style="text-align: center;white-space: normal;color:blue">“信任之美”是我基于对食材的理解而创建的新品牌。借此深秋收获之季，我们一起说说关于食物的美好故事.</p>
           </div>
           <div class="item">
               <h3 class="title fangsong center zhuyanse">活动时间</h3>
               <p class="center">2016年12月4日 — 2016年1月5日</p>
           </div>
           <div class="item">
               <h3 class="title fangsong center zhuyanse" >作品要求</h3>
               <p style="white-space: normal;color:blue">
                   1、菜谱标题以#<span class="zhuyanse">#信任之美#</span>为前缀上传，分享相关故事为佳；
               </p>
               <p style="white-space: normal;color:blue">
                   2、参赛作品要求以菜谱的形式提交，<span class="zhuyanse">要求原创，不得抄袭，成品图清晰美观，过程图、文字描述清晰完整</span>；
               </p>
               <p style="white-space: normal;color:blue">
                   3、美食天下与<span class="zhuyanse">信任之美</span>拥有对所有参赛作品的<span class="zhuyanhse">使用权</span>、<span class="zhuyanse">信息网络传播权</span>、<span class="zhuyanse">改编权等权利</span>；
               </p>
               <p style="white-space: normal;color:blue">
                   4、每用户限<span class="zhuyanse">一个</span>奖项。
               </p>
           </div>
           <div class="item">
               <h2 class="center zhuyanse fangsong">活动奖品</h2>
               <p>【奖项设置】</p>
               <div style="border-bottom: 2px dotted #ef7e00">
                   <p style="color:#ef7e00 "> 特等奖：3名，ACA 820S厨师机（￥1599）</p>
                   <img src="./images/activity02.png">
               </div>
               <div style="border-bottom: 2px dotted #ef7e00">
                   <p style="color:#ef7e00;white-space: normal "> 优秀作品奖：8名，ACA HB30HT烤箱（￥458） + ACA DR01搅拌机（￥99）</p>
                   <img src="./images/activity03.png">
               </div>
               <div style="border-bottom: 2px dotted #ef7e00">
                   <p style="color:#ef7e00;white-space: normal "> 最佳人气奖：5名，ACA PCT1515果料面包机（￥468） + ACA D06F咖啡机（￥139）</p>
                   <img src="./images/activity04.png">
               </div>

           </div>
       </div>
    </ion-content>
</ion-view>